.vbox {
    -fx-background-color: #2e8b57;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.button {
    -fx-pref-width: 180px;
    -fx-pref-height: 50px;
    -fx-spacing: 10;
    -fx-font: 8px "Serif";

}
.text{
    -fx-font: 30px "Serif";
    -fx-text-alignment: center;
}